page-donation {

	.text-wrapper {
		/* padding: 0 10% 5% 10%; */
		width: 286px;
		margin: auto;
		margin-bottom: 54%;
	}
	.slide-zoom{
		height: 100%;
	}
	.btnPrev{
		position: absolute;
		top: 130px;
		z-index: 20;
		background-color: transparent;
		color: black;
		box-shadow: 0px 0px;
		background-image: url('assets/imgs/back.png');
		background-repeat: no-repeat;
	}
	.btnNext{
		position: absolute;
		top: 130px;
		right: 24px;
		z-index: 20;
		background-color: transparent;
		color: black;
		box-shadow: 0px 0px;
		background-image: url('assets/imgs/next.png');
		background-repeat: no-repeat;
	}
	button.font-SF{
		height: 56px !important;
	}
	button.activated{
		background-color: transparent !important;
	}
	ion-checkbox .checkbox-checked{
		background-color: #4A4A4A !important;
	}
	.content-container{
		p{
			color: #4A4A4A;
		}
		.choose-donation{
			font-weight: bold;
			font-size: 20px;
			margin: 0%;
		}
		.as-low-as{
			margin: 0%;
			font-size: 14px;
			color: #9b9b9b;
			font-weight: 300;
			font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", SFProText;
			text-align : center;
			margin-bottom : 25px;
		}

		h1{
			color: map-get($colors, redbg);
			font-size: 72px;
		}

		.sel-subscription{
			-webkit-clip-path: polygon(50% 0%, 100% 38%, 100% 100%, 0 100%, 0% 38%) !important;
			clip-path: polygon(50% 0%, 100% 38%, 100% 100%, 0 100%, 0% 38%) !important;
			border-radius: 4px !important;
			height: 45px !important;
			background-color: #cb2026 !important;
			color: #fff !important;
			height: 54px !important;
			width: 100% !important;
			padding-top: 20px !important;
			font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", SFProText !important;
			.item-inner{
				background: transparent !important;
			}
			ion-label{
				width: 0px !important;
				display: none !important;
			}
			ion-select{
				width: 100% !important;
				max-width: 100% !important;
				float: left !important;
				padding: 0px !important;
				text-align: center !important;
			}
			.select-icon{
				display: none !important;
			}

		}
		ion-item{
			background-color: transparent !important;
		}

		.swiper-pagination{
			display: none;
		}
		.select-component{
			padding-top: 15px;
		}

	}
	ion-col{
		display: inline-flex;
	}
	ion-checkbox{
		margin-top: 10px;
	}
	ion-label{
		margin: 0px;
	}
	ion-grid ion-row p{
		font-size: 9px;
		margin-top: 0%;
		margin-left: 40px;
	}
	ion-grid ion-row ion-col ion-checkbox{
		margin-right: 15px;
	}
	.subscription-header{
	}
	.subscription-contents{
		margin-bottom: 20%;
	}
	.col-pre{
		padding-left: 40px;
		background-color: #eaeaea;
	}
	.col-6-pre{
		padding: 0px !important;
	}
	ion-slides{
		height: 150px;
	}
	.bychoosingRecurre{
		text-align: left;
		font-size: 10px;
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", SFProText;
	}
	.recurrent-monthly-donation{
		color: #4a4a4a;
		font-size: 14px;
		font-weight: 500;
		text-align: left;
		margin: 10px 0px 0px 0px;
	}

	.services{
		ion-select{
			padding: 0px !important;
			margin-top: 13px !important;
			max-width: 50% !important;
			font-size: 10px !important;
			margin-right: 10px !important;
		}
	}
	.stations{
		ion-select{
			padding: 0px !important;
			margin-top: 13px !important;
			max-width: 50% !important;
			font-size: 10px !important;
			margin-right: 10px !important;
		}
	}
}
