<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-navbar color="redbg">
	<button ion-button menuToggle>
		<ion-icon name="menu"></ion-icon>
	</button>
    <ion-title>Lebanese Red Cross</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
	<div class="header-profile" *ngIf="headerProfile">
		<h2>Hello, Sarah</h2>
		<span class="donor-title">LRC Regular Doner</span>
		<p >Current Membership: <strong>3$/month</strong> <ion-icon ios="ios-create" md="md-create"></ion-icon></p>
	</div>
	<div class="donated-container" *ngIf="donatedContainer">
		<div class="donated">
			<h2>DONATED</h2>
			<p>Total amount of donation till date:</p>
		</div>
		<div class="amount">
			<h1>$ 36.00</h1>
		</div>
	</div>
	<div class="buttons-container">
		<h4 *ngIf="profileTitle">EDIT / UPDATE PROFILE INFO</h4>
		<div class="button" (click)="profileBtn()">
			<p>EDIT / UPDATE PROFILE INFO</p>
		</div>
		<ion-icon ios="ios-arrow-forward" md="md-arrow-forward"  id="proficon" ></ion-icon>
		<div class="profile-content" *ngIf="profileContent">
		<div class="form-inputs">
			<ion-item>
			    <ion-label floating>Full Name</ion-label>
			    <ion-input style="    background-color: transparent;"></ion-input>
			</ion-item>
			<ion-item>
			    <ion-label floating>Email Address</ion-label>
			    <ion-input style="background-color: transparent;"></ion-input>
			</ion-item>
			<ion-item>
			    <ion-label floating>Password</ion-label>
			    <ion-input style="background-color: transparent;" type="password"></ion-input>
			</ion-item>
			<ion-item>
			    <ion-label floating>Confirm Password</ion-label>
			    <ion-input style="background-color: transparent;" type="password"></ion-input>
			</ion-item>
			<ion-item>
			    <ion-label floating>Phone Number</ion-label>
			    <ion-input style="background-color: transparent;"></ion-input>
			</ion-item>
		</div>

		</div>
		<h2 *ngIf="addressTitle">EDIT / UPDATE ADDRESS INFO</h2>
		<div class="button" (click)="addressBtn()">
			<p>EDIT / UPDATE ADDRESS INFO</p>
		</div>
		<ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
		<h2 *ngIf="donationTitle">EDIT / UPDATE DONATION INFO</h2>
		<div class="button" (click)="donationBtn()">
			<p>EDIT / UPDATE DONATION INFO</p>
		</div>
		<ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
	</div>
</ion-content>
