page-profile {
	.header-profile{
		margin: 15px 0px 20px 20px;
		h2{
			margin-bottom: 0px;
			color: #4a4a4a;
		    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", SFProText;

		    font-weight: 700;
		}
		span{
			font-size: 16px;
			color: map-get($colors, redbg);
			font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", SFProText;
			font-weight: 700;
    		font-size: 20px;
		}
	}
	.donated-container{
		background-color: map-get($colors, redbg);
		color: #fff;
		display: inline-flex;
    	width: 100%;
    	height: 100px;
		.donated{
			width: 100%;
      padding-right: 15%;
			margin: 30px 0px 10px 20px;
			text-align: left;
			font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", SFProText;
			h2{
				margin: 0px;
				font-size: 27px;
			}
			p{
				margin: 0px;
				font-size: 11px;
			}
		}
		.amount{
			width: 100%;
			font-family: 'SFProDisplay', Helvetica, Arial, san-serif;
			h1{
				font-size: 40px;
				margin-top: 30px;
				text-align: left;
			}
		}
	}
	.buttons-container{
		margin: 50px 30px;
		width: 90%;
		.button{
			width: 90%;
		    height: 50px;
		    background-color: #eaeaea;
		    margin-bottom: 5px;
		    display: inline-flex;
		    border-radius: 5px;
		    p{
			    text-align: left;
				margin-left: 20px;
				margin-top: 20px;
		    }
		}
	    ion-icon{
	    	transform: translate(-45px, 5px) !important;
	    	color: map-get($colors,redbg);
        margin-left: 15px;
	    }
	    .form-inputs{
	        margin-bottom: 20px;
		    padding-right: 40px;
		    padding-left: 10px;
          ion-item{
          border-bottom: 1px solid #4a4a4a !important;
        }
        ion-label {
          font-size: 12px;
          text-align: left;
          transform-origin: left !important;
          transform: translate3d(0, 23px, 0) !important;
          margin: 10px 0px 0px 5px !important;
        }
        .item-input-has-focus .label-md[floating],
        .input-has-focus .label-md[floating],
        .item-input-has-focus .label-ios[floating],
        .input-has-focus .label-ios[floating],
        .input-has-value ion-label
        {
          //visibility: hidden;
          transform: translate3d(0, 3px, 0) !important;
        }
        ion-input{
          border: 0px transparent !important;
        }
	    }
	}

	input{
		text-align: left;
		font-weight: bold;
		padding-left: 10px;
		height: 30px;
	}

}
