<ion-header no-border>
  <ion-navbar color="redbg">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Lebanese Red Cross</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background-color: #cb2026">

  <ion-slides pager centeredSlides="true" > 
    <!-- To set the background image is every slides -->
    <ion-slide  *ngFor="let slide of slidersData; let i = index" [ngStyle]="{'background': '' + slide.bgImage + '' , 'background-repeat' : 'no-repeat' , 'background-size' : 'cover'}" >
       <ion-icon float-right *ngIf="slide.information" class="information-close" ios="ios-close-circle" md="md-close-circle" (click)="informationCloseBtn(i)"></ion-icon>  
      <div class="btn-container" *ngIf="slide.main">
        <ion-grid>
          <ion-row>
            <ion-col col-12> 
              <ion-icon float-left ios="ios-paper-plane" md="md-paper-plane" (click)="shareBtn(slide)"></ion-icon>
              <ion-icon float-right ios="ios-information-circle" md="md-information-circle" (click)="infoBtn(i)"> </ion-icon>
            </ion-col>
           
          </ion-row>

           
                <div class="tag" *ngIf="main">
                  <h1>{{ slide.tagInfo }}</h1>
                </div>  
             
        </ion-grid>
      </div>

      <!-- Click Information button to see this section -->
      <!-- Information Section -->
      <section style="background-color: white; border-radius: 21px; height: 100%;" class="information" *ngIf="slide.information">
        <div style="border-radius: 21px 21px 0px 0px;" [ngStyle]="{'background': '' + slide.subBGImage + '' , 'background-repeat' : 'no-repeat' , 'background-size' : 'cover' , 'height' : '40%' , 'background-position' : 'center' , 'margin-bottom': '3%'}" >
      <!--   <img [src]="slide.subBGImage" (click)="playVideo(slide)"/> -->
      </div>
        <p>{{ slide.author }}Sample Author</p> 
        <p class="bolder">{{ slide.title }}Saample Title of the Page</p>
        <div class="button-container">
          <ion-grid>
            <ion-row>
              <ion-col col-6> 
                <button ion-button float-left color="redbg" (click)="readMore(slide)"> Read More </button>
              </ion-col>
              <ion-col col-6>
                <button ion-button float-right color="redbg"> Share </button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <div> 
          <p>
            {{ slide.description1 }}
            <br/>
            <br/>
            {{ slide.description2 }}
          </p>
        </div>
      </section>
      <!-- End Information Section -->
    </ion-slide>

  </ion-slides>
</ion-content>
