

.hide {
  display: none; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  background: none; }


#result {
  margin-bottom: 100px; }
  
/*ion-tabs {
    color: #cb2026;
    height: 98.5% !important;

}

  ion-slide{
    background-size: cover;
    background-repeat: no-repeat;
  }*/


  ion-menu ion-header ion-toolbar ion-icon.ic-contact {
  
  /*zoom: 10.0;
*/
  }


  